name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - master

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false

      # ------------------------------------------------
      # ÉTAPES AJOUTÉES POUR INSTALLER ET BUILDER ANGULAR MANUELLEMENT
      # ------------------------------------------------
      - name: Setup Node 18
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install and Build Angular
        run: |
          npm install
          chmod +x ./node_modules/.bin/ng
          ./node_modules/.bin/ng build --output-path ../output_angular
        working-directory: Hexagonal # Exécuter dans le répertoire du projet Angular (où est package.json)
      # ------------------------------------------------

      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_THANKFUL_OCEAN_00C11CE03 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          
          # Paramètres corrigés pour le déploiement
          app_location: "Hexagonal" 
          api_location: ""
          output_location: "output_angular" # Chemin de la sortie de la commande npm run build ci-dessus
          skip_app_build: true # Crucial : empêche Oryx de recompiler et de générer l'erreur de permission
          
  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_THANKFUL_OCEAN_00C11CE03 }}
          action: "close"




