
<div class="container">
  <h2>Liste des custmers</h2>

  <p *ngIf="errorMessage">
    {{ errorMessage }}
  </p>
  <p *ngIf="custmers.length === 0">
    Aucun Client trouvée. Veuillez vérifier la connexion à l'API.
  </p>
  <table *ngIf="custmers.length > 0" class="custmer-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>email</th>
        <th>Tel</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let custmer of custmers">
        <td>{{ custmer.id }}</td>
        <td>{{ custmer.firstName }}</td> 
        <td>{{ custmer.lastName }}</td> 
        <td>{{ custmer.email }}</td>
        <td>{{ custmer.tel }}</td> 
        <td>
          <button (click)="viewDetails(custmer.id)">Détails</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>